[submodule "ManyMonero"]
	path = ManyMonero
	url = git@github.com:ManyMath/ManyMonero
[submodule "ManyCo.in"]
	path = ManyCo.in
	url = git@github.com:ManyMath/ManyCo.in
[submodule "ManyMath.com"]
	path = ManyMath.com
	url = git@github.com:ManyMath/ManyMath.com
[submodule "monero-rust"]
	path = monero-rust
	url = git@github.com:ManyMath/monero-rust
[submodule "monerodart"]
	path = monerodart
	url = git@github.com:ManyMath/monerodart
[submodule "arti-ffi"]
	path = arti-ffi
	url = git@github.com:ManyMath/arti-ffi
[submodule "darti"]
	path = darti
	url = git@github.com:ManyMath/darti
[submodule "monerod-rust"]
	path = monerod-rust
	url = git@github.com:ManyMath/monerod-rust
[submodule "monerod-dart"]
	path = monerod-dart
	url = git@github.com:ManyMath/monerod-dart
[submodule "monero-wallet-cli-rust"]
	path = monero-wallet-cli-rust
	url = git@github.com:ManyMath/monero-wallet-cli-rust
[submodule "monero-wallet-rpc-rust"]
	path = monero-wallet-rpc-rust
	url = git@github.com:ManyMath/monero-wallet-rpc-rust
