[submodule "ManyMonero"]
	path = ManyMonero
	url = git@github.com:ManyMath/ManyMonero
[submodule "ManyCo.in"]
	path = ManyCo.in
	url = git@github.com:ManyMath/ManyCo.in
[submodule "ManyMath.com"]
	path = ManyMath.com
	url = git@github.com:ManyMath/ManyMath.com
[submodule "monero-rust"]
	path = monero-rust
	url = git@github.com:ManyMath/monero-rust
[submodule "monerodart"]
	path = monerodart
	url = git@github.com:ManyMath/monerodart
[submodule "arti-ffi"]
	path = arti-ffi
	url = git@github.com:ManyMath/arti-ffi
[submodule "darti"]
	path = darti
	url = git@github.com:ManyMath/darti
[submodule "monerod-rust"]
	path = monerod-rust
	url = git@github.com:ManyMath/monerod-rust
[submodule "monerod-dart"]
	path = monerod-dart
	url = git@github.com:ManyMath/monerod-dart
[submodule "monero-wallet-cli-rust"]
	path = monero-wallet-cli-rust
	url = git@github.com:ManyMath/monero-wallet-cli-rust
[submodule "monero-wallet-rpc-rust"]
	path = monero-wallet-rpc-rust
	url = git@github.com:ManyMath/monero-wallet-rpc-rust
[submodule "keepass-rust"]
	path = keepass-rust
	url = git@github.com:ManyMath/keepass-rust
[submodule "keepass-dart"]
	path = keepass-dart
	url = git@github.com:ManyMath/keepass-dart
[submodule "veracrypt-dart"]
	path = veracrypt-dart
	url = git@github.com:ManyMath/veracrypt-dart
[submodule "pgp-dart"]
	path = pgp-dart
	url = git@github.com:ManyMath/pgp-dart
[submodule "rust_ffi"]
	path = rust_ffi
	url = git@github.com:ManyMath/rust_ffi
[submodule "zcashdart"]
	path = zcashdart
	url = git@github.com:ManyMath/zcashdart
[submodule "dart-ffi"]
	url = git@github.com:ManyMath/dart-ffi
[submodule "zcashd-rust"]
	path = zcashd-rust
	url = git@github.com:ManyMath/zcashd-rust
[submodule "zcashd-dart"]
	path = zcashd-dart
	url = git@github.com:ManyMath/zcashd-dart
[submodule "at-rest-encryption-rust"]
	path = at-rest-encryption-rust
	url = git@github.com:ManyMath/at-rest-encryption-rust
[submodule "at-rest-encryption-dart"]
	path = at-rest-encryption-dart
	url = git@github.com:ManyMath/at-rest-encryption-dart
[submodule "zcash-ffi"]
	path = zcash-ffi
	url = git@github.com:ManyMath/zcash-ffi
[submodule "monero-web-dart"]
	path = monero-web-dart
	url = git@github.com:ManyMath/monero-web-dart
[submodule "serai-mirror"]
	path = serai-mirror
	url = git@github.com:ManyMath/serai-mirror
[submodule "native_toolchain_rust_mirror"]
	path = native_toolchain_rust_mirror
	url = git@github.com:ManyMath/native_toolchain_rust_mirror
[submodule "monero_c"]
	path = monero_c
	url = git@github.com:ManyMath/monero_c
[submodule "monero_dart"]
	path = monero_dart
	url = git@github.com:ManyMath/monero_dart
[submodule "monero_ts"]
	path = monero_ts
	url = git@github.com:ManyMath/monero_ts
