[submodule "xmrust"]
	path = xmrust
	url = git@github.com:ManyMath/xmrust
[submodule "xmrdart"]
	path = xmrdart
	url = git@github.com:ManyMath/xmrdart
[submodule "xmrd"]
	path = xmrd
	url = git@github.com:ManyMath/xmrd
[submodule "ManyMonero"]
	path = ManyMonero
	url = git@github.com:ManyMath/ManyMonero
[submodule "ManyCo.in"]
	path = ManyCo.in
	url = git@github.com:ManyMath/ManyCo.in
[submodule "ManyMath.com"]
	path = ManyMath.com
	url = git@github.com:ManyMath/ManyMath.com
[submodule "flutter_libxmr"]
	path = flutter_libxmr
	url = git@github.com:ManyMath/flutter_libxmr
[submodule "docker"]
	path = docker
	url = git@github.com:ManyMath/docker
